  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <app-menu></app-menu>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <app-cabecera></app-cabecera>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Beneficios</h1>
            <a [routerLink]="['/registrar-beneficio']" class="d-none d-sm-inline-block btn btn-sm btn-primary btn-icon-split shadow-sm">
              <span class="icon text-white-50">
                  <i class="fa fa-plus"></i>
                </span>
                <span class="text">Nuevo</span>
            </a>
          </div>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Resultados</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Empresa</th>
                      <th>Descripción</th>
                      <th>Categoría</th>
                      <th>F. Registro</th>
                      <th>F. Inicio</th>
                      <th>F. Fin</th>
                      <th>Status</th>
                      <th>Acción</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Empresa</th>
                      <th>Descripción</th>
                      <th>Categoría</th>
                      <th>F. Registro</th>
                      <th>F. Inicio</th>
                      <th>F. Fin</th>
                      <th>Status</th>
                      <th>Acción</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                      <td>Empresa xxxx</td>
                      <td>Descripcion xxxx</td>
                      <td>xxxxx</td>
                      <td>2011/07/25</td>
                      <td>2009/01/12</td>
                      <td>2011/07/25</td>
                      <td>-</td>
                      <td>
                        <a href="#" class="btn btn-success btn-circle btn-sm">
                          <i class="fa fa-pencil"></i>
                        </a>&nbsp;
                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Empresa xxxx</td>
                      <td>Descripcion xxxx</td>
                      <td>xxxxx</td>
                      <td>2011/07/25</td>
                      <td>2009/01/12</td>
                      <td>2011/07/25</td>
                      <td>-</td>
                      <td>
                        <a href="#" class="btn btn-success btn-circle btn-sm">
                          <i class="fa fa-pencil"></i>
                        </a>&nbsp;
                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Empresa xxxx</td>
                      <td>Descripcion xxxx</td>
                      <td>xxxxx</td>
                      <td>2011/07/25</td>
                      <td>2009/01/12</td>
                      <td>2011/07/25</td>
                      <td>-</td>
                      <td>
                        <a href="#" class="btn btn-success btn-circle btn-sm">
                          <i class="fa fa-pencil"></i>
                        </a>&nbsp;
                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Empresa xxxx</td>
                      <td>Descripcion xxxx</td>
                      <td>xxxxx</td>
                      <td>2011/07/25</td>
                      <td>2009/01/12</td>
                      <td>2011/07/25</td>
                      <td>-</td>
                      <td>
                        <a href="#" class="btn btn-success btn-circle btn-sm">
                          <i class="fa fa-pencil"></i>
                        </a>&nbsp;
                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Empresa xxxx</td>
                      <td>Descripcion xxxx</td>
                      <td>xxxxx</td>
                      <td>2011/07/25</td>
                      <td>2009/01/12</td>
                      <td>2011/07/25</td>
                      <td>-</td>
                      <td>
                        <a href="#" class="btn btn-success btn-circle btn-sm">
                          <i class="fa fa-pencil"></i>
                        </a>&nbsp;
                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <app-footer></app-footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <app-msesion></app-msesion>